:host {
  height: 100%;
  padding: 1rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

  * {
    width: 100%;
    text-align: center;
  }

  h1, p {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 4rem;
  }

  button {
    border: none;
    color: white;
    background: linear-gradient(
      90deg,
      hsl(236, 72%, 79%) 0%,
      hsl(237, 63%, 64%) 100%
    );
    padding: 1rem;
    border-radius: .5rem;
  }
}