:host {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 3rem 2rem;
  gap: 2rem;

  * {
    width: 100%;
    text-align: center;
  }

  hr {
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.315);
  }

  div {
    display: flex;
    flex-direction: column;
    filter: none;
    gap: 1rem;
    padding: 0;
  }
  
  h1, p {
    font-size: 1.25rem;
    color: #6f728f;
  }

  h2 {
    font-size: 4rem;
    color: #474960;
  }
}

.left {
  border-radius: .75rem 0 0 .75rem;
}

.center {
  border-radius: 0.75rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(
    90deg,
    hsl(236, 72%, 79%) 0%,
    hsl(237, 63%, 64%) 100%
  );

  h1, h2, p {
    color: white;
  }

  hr {
    border-top: 1px solid rgba(255, 255, 255, 0.308);
  }

  button {
    background-image: none;
    background-color: white;
    color: hsl(237, 63%, 64%);
    &:hover {
      background-color: transparent;
      color: white;
      outline: 1px solid white;
    }
  }
}

.right {
  border-radius: 0 .75rem .75rem 0;
}