<main>
  <h1>Our Pricing</h1>
  <p>
    Anually
    <label class="switch">
      <input type="checkbox" [(ngModel)]="toggle">
      <span class="slider round"></span>
    </label>
    Monthly
  </p>

  <section *ngIf="toggle">
    <app-plan-card [position]="'left'" [subPlan]="basicPlan.monthly"></app-plan-card>
    <app-plan-card [position]="'center'" [subPlan]="proPlan.monthly"></app-plan-card>
    <app-plan-card [position]="'right'" [subPlan]="masterPlan.monthly"></app-plan-card>
  </section>
  <section *ngIf="!toggle">
    <app-plan-card [position]="'left'" [subPlan]="basicPlan.yearly"></app-plan-card>
    <app-plan-card [position]="'center'" [subPlan]="proPlan.yearly"></app-plan-card>
    <app-plan-card [position]="'right'" [subPlan]="masterPlan.yearly"></app-plan-card>
  </section>

</main>